<script src="./user/js/signinscript.js"></script>
<script src="./user/js/loginscript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./user/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./user/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./user/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./user/js/plugins/slick.js"></script>
<script src="./user/js/plugins/jquery.syotimer.min.js"></script>
<script src="./user/js/plugins/wow.js"></script>
<script src="./user/js/plugins/jquery-ui.js"></script>
<script src="./user/js/plugins/perfect-scrollbar.js"></script>
<script src="./user/js/plugins/magnific-popup.js"></script>
<script src="./user/js/plugins/select2.min.js"></script>
<script src="./user/js/plugins/waypoints.js"></script>
<script src="./user/js/plugins/counterup.js"></script>
<script src="./user/js/plugins/jquery.countdown.min.js"></script>
<script src="./user/js/plugins/images-loaded.js"></script>
<script src="./user/js/plugins/isotope.js"></script>
<script src="./user/js/plugins/scrollup.js"></script>
<script src="./user/js/plugins/jquery.vticker-min.js"></script>
<script src="./user/js/plugins/jquery.theia.sticky.js"></script>
<script src="./user/js/plugins/jquery.elevatezoom.js"></script>
<script src="./user/js/maind134.js?v=3.4"></script>
<script src="./user/js/shopd134.js?v=3.4"></script>
<script src="./user/js/shopd134.js?v=3.4"></script>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
</body>
</html>