<%- include("../../views/partials/admin/header") %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
        </div>
        <div>
            <a href="/admin/salesReport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="col-xl-12 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart1" height="120px"></canvas>
                            <div class="row mt-4">
                                <div class="col-md-9">
                                    <canvas id="lineChart" height="500px" width="600px"></canvas>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    async function fetchMonthlyData() {
        try {
            const response = await fetch('/admin/monthly-report');
            const data = await response.json();
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            
            const allMonthsRevenue = Array.from({ length: 12 }, () => 0);
            const allMonthsOrderCount = Array.from({ length: 12 }, () => 0);
            data.labels.forEach((label, index) => {
                const monthIndex = months.indexOf(label);
                if (monthIndex !== -1) {
                    allMonthsRevenue[monthIndex] = data.revenueData[index];
                    allMonthsOrderCount[monthIndex] = data.orderCountData[index];
                }
            });

            var ctxL = document.getElementById("myChart1").getContext('2d');
            var myLineChart = new Chart(ctxL, {
                type: 'line',
                data: {
                    labels: months,
                    datasets: [{
                            label: "Total Revenue",
                            data: allMonthsRevenue,
                            backgroundColor: 'rgba(105, 0, 132, .2)',
                            borderColor: 'rgba(200, 99, 132, .7)',
                            borderWidth: 2
                        },
                        {
                            label: "Order Count",
                            data: allMonthsOrderCount,
                            backgroundColor: 'rgba(0, 137, 132, .2)',
                            borderColor: 'rgba(0, 10, 130, .7)',
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
        } catch (error) {
            console.error(error);
        }
    }

    fetchMonthlyData();

    new Chart("lineChart", {
        type: "line",
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                    label: 'Products',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                    borderColor: 'rgba(44, 120, 220)',
                    data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000,7000,8000]
                },
                {
                    label: 'Sales',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(4, 209, 130, 0.2)',
                    borderColor: 'rgb(4, 209, 130)',
                    data: [300,700,2000,5000,6000,4000,2000,1000,200,100,200,300] , // Use the array directly
                },
            ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                    },
                }
            }
        }
    });

</script>
<%- include("../../views/partials/admin/footer") %>
