<%-include("../../views/partials/user/header")%>

    <!DOCTYPE HTML>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title> TrendSetter</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <link rel="shortcut icon" type="image/x-icon" href="./admin-assets/imgs/theme/favicon.svg">
        <link href="./admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <main>
            <section class="content-main mt-10 mb-10">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Login</h4>
                        <form id="logForm" method="post" action="/login">
                            <div class="mb-3 ">
                                <input class="form-control" name="email" id="typeMaily" placeholder="Enter email" value="" type="text"
                                    style="border: 1px solid #ced4da;" required>
                                    <a style="color: red;" href="" id="error1log"></a>
                            </div>
                            <div class="mb-3" style="position: relative;">
                                <input class="form-control" name="password" id="typePasswordy" value="" placeholder="Enter password"
                                    type="password" style="border: 1px solid #ced4da; padding-right: 30px;" required>
                                    <a style="color: red;" href="" id="error2log"></a>
                            </div>
                            <div class="mb-3">
                                <a href="/forgotPassword" class="float-end font-sm text-muted">Forgot password?</a>
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100"> Login </button>
                            </div>
                            <% if (locals.message && message.length> 0) { %>
                                <div id="alertMessage" class="alert alert-danger">
                                    <%= message %>
                                </div>
                                <% } %>
                        </form>
                        <p class="text-center mb-4">Don't have account? <a href="/signup">Sign up</a></p>
                    </div>
                </div>
            </section>
    </body>

    <script>

        // alert error message
        const alertElement = document.getElementById('alertMessage');
        if (alertElement) {
            setTimeout(function () {
                alertElement.style.display = 'none';
            }, 3000);
        }

        document.getElementById("togglePassword").addEventListener("click", () => {
            const passInput = document.getElementById("password");
            passInput.type = passInput.type === "password" ? "text" : "password";
        });

        document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');

        form.addEventListener('submit', function (event) {
            var emailInput = document.querySelector('input[name="email"]');
            var passwordInput = document.querySelector('input[name="password"]');

            if (emailInput.value.trim() === '' || passwordInput.value.trim() === '') {
                event.preventDefault();
                alert('Please fill in all fields with valid values.');
                if (emailInput.value.trim() === '') {
                    emailInput.focus();
                } else {
                    passwordInput.focus();
                }
            }
        });
    });
    </script>

    </html>
    <%-include("../../views/partials/user/footer")%>